{% extends 'main/base.html' %}

{% block content %}

<div class="card">
    <h2>About Me</h2>
    <p>
        I am a Computer Science graduate from University College of Engineering, Nagercoil.
        I have hands-on experience in quality assurance, AR manufacturing systems, and Python automation.
    </p>

    <p>
        I aim to work as a Python Developer or Quality Engineer where I can contribute
        to innovative software and manufacturing technologies.
    </p>
</div>

{% endblock %}
